.input-field{
    text-align: center;
    margin-top:5% ;
    border-width: 20px;
}
div{
    text-align: center;
    margin-top: 3%;
    color: bisque;
    font-family: 'Courier New', Courier, monospace;
}