.input-field{
    text-align: center;
    margin-top:5% ;
    border-width: 20px;
}
div{
    text-align: center;
    margin-top: 3%;
    color: rgb(210, 200, 187);
    font-family: 'Courier New', Courier, monospace;

}